
<h1>登録している調査一覧</h1>

<table width="80%">
  <% @surveys.each do |survey| %>
    <tr>
      <td><%= survey.name %></td>
      <td><%= link_to '調査名を見る', survey %></td>
      <td><%= link_to '調査を編集する', edit_survey_path(survey) %></td>
      <td><%= link_to '調査を削除', survey, method: :delete, data: { confirm: '調査を削除します。よろしいですか？' } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to '調査を登録する', new_survey_path %>
