<p><%= notice %></p>
<h4><%= @survey.name %></h4>
<table>
	<tr>登録している地点名</tr>
	<tr>
		<% @survey.data.each do |datum| %>
			<td><%= link_to datum.site_name, controller: "data", action: "show", id: datum.id %></td>
		<% end %>
	</tr>
</table>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
